@use '../abstracts/variables' as *;

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2;
    // margin-bottom: 0.5em;
    color: $primary-color;
  }
  
  
  a {
    color: $accent-color;
    text-decoration: none;
    transition: color $transition;
  
    &:hover {
      color: darken($accent-color, 10%);
    }
  }