// Alexandria Font Family

// Chivo Font Family
// @font-face {
//   font-family: 'Chivo';
//   src: url('../../assets/fonts/Chivo-Thin.woff2') format('woff2'),
//        url('../../assets/fonts/Chivo-Thin.woff') format('woff');
//   font-weight: 100;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Chivo';
//   src: url('../../assets/fonts/Chivo-Light.woff2') format('woff2'),
//        url('../../assets/fonts/Chivo-Light.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Chivo';
//   src: url('../../assets/fonts/Chivo-Regular.woff2') format('woff2'),
//        url('../../assets/fonts/Chivo-Regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Chivo';
//   src: url('../../assets/fonts/Chivo-Italic.woff2') format('woff2'),
//        url('../../assets/fonts/Chivo-Italic.woff') format('woff');
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Chivo';
//   src: url('../../assets/fonts/Chivo-Bold.woff2') format('woff2'),
//        url('../../assets/fonts/Chivo-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Chivo';
//   src: url('../../assets/fonts/Chivo-BoldItalic.woff2') format('woff2'),
//        url('../../assets/fonts/Chivo-BoldItalic.woff') format('woff');
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Chivo';
//   src: url('../../assets/fonts/Chivo-Black.woff2') format('woff2'),
//        url('../../assets/fonts/Chivo-Black.woff') format('woff');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Chivo';
//   src: url('../../assets/fonts/Chivo-BlackItalic.woff2') format('woff2'),
//        url('../../assets/fonts/Chivo-BlackItalic.woff') format('woff');
//   font-weight: 900;
//   font-style: italic;
//   font-display: swap;
// }

// // Nunito Font Family
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-ExtraLight.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-ExtraLight.woff') format('woff');
//   font-weight: 200;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-ExtraLightItalic.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-ExtraLightItalic.woff') format('woff');
//   font-weight: 200;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-Light.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-Light.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-LightItalic.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-LightItalic.woff') format('woff');
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-Regular.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-Regular.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-Italic.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-Italic.woff') format('woff');
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-SemiBold.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-SemiBold.woff') format('woff');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-SemiBoldItalic.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-SemiBoldItalic.woff') format('woff');
//   font-weight: 600;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-Bold.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-Bold.woff') format('woff');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-BoldItalic.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-BoldItalic.woff') format('woff');
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-ExtraBold.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-ExtraBold.woff') format('woff');
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-ExtraBoldItalic.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-ExtraBoldItalic.woff') format('woff');
//   font-weight: 800;
//   font-style: italic;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-Black.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-Black.woff') format('woff');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'Nunito';
//   src: url('../../assets/fonts/Nunito-BlackItalic.woff2') format('woff2'),
//        url('../../assets/fonts/Nunito-BlackItalic.woff') format('woff');
//   font-weight: 900;
//   font-style: italic;
//   font-display: swap;
// }

$font-stack: 'Chivo', sans-serif;
$body-text: 'Nunito', sans-serif;

$primary-color:  #0E0E0E;
$primary-red: #FF172A;
$primary-pink: #E900FF;
$primary-red-hover: #D1495B;
$primary-blue: #5800FF;
$primary-blue-hover: #5B5FE1;
$secondary-color: #0d0d0d;
$accent-color: #FFC600;
$alt-section: #1C1C1E;
$alt-section2: #2F2F30;
$text-color: #E2E2DD;
$muted-text-color: #9A9A9A;

$border-radius: 1rem;
$transition: 0.3s ease;